
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    margin-left: -3%;
    padding: 10px;
}

.New-card{
    height: 320px;
    width: 400px;
   
}

.btn-primary{
    margin-left: -25%;
}

