
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    margin-left: -3%;
}

.New-card{
    height: 320px;
    width: 300px;
   
}

.btn-primary{
    margin-left: -25%;
}

